services:
  impulse_db:
    image: postgres:17
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 2s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    depends_on:
      - impulse_db
    ports:
      - "8000:8000"
    volumes:
      - ./back:/app
    command: sh -c 'until (echo > /dev/tcp/impulse_db/5432) >/dev/null 2>&1; do echo "waiting for db..."; sleep 1; done; uvicorn back.main:app --host 0.0.0.0 --port 8000 --reload --reload-dir back'
volumes:
  postgres_data: