// web/src/Components/Admin/EventCreateModal/EventCreateModal.scss
@import '../UserEditModal/UserEditModal.scss';

.file-input {
  cursor: pointer;
}

.file-name {
  margin: 8px 0 0 0;
  font-size: 13px;
  color: #718096;
}